[versions]
shadow = "8.1.1"
jib = "3.4.0"
spotless = "6.21.0"
junit = "5.10.0"
autoservice = "1.1.1"

opentelemetrySdk = "1.33.0"
opentelemetryJavaagent = "1.32.0"
opentelemetryJavaagentAlpha = "2.1.0-alpha-SNAPSHOT"
opentelemetryContribAlpha = "1.32.0-alpha"

[libraries]

opentelemetryJavaagent = { group = "io.opentelemetry.javaagent", name = "opentelemetry-javaagent", version.ref = "opentelemetryJavaagent" }
opentelemetryJavaagentForTesting = { group = "io.opentelemetry.javaagent", name = "opentelemetry-agent-for-testing", version.ref = "opentelemetryJavaagentAlpha" }

opentelemetryBom = { group = "io.opentelemetry", name = "opentelemetry-bom", version.ref = "opentelemetrySdk" }
opentelemetryInstrumentationBom = { group = "io.opentelemetry.instrumentation", name = "opentelemetry-instrumentation-bom", version.ref = "opentelemetryJavaagent" }
opentelemetryInstrumentationAlphaBom = { group = "io.opentelemetry.instrumentation", name = "opentelemetry-instrumentation-bom-alpha", version.ref = "opentelemetryJavaagentAlpha" }

awsContribResources = { group = "io.opentelemetry.contrib", name = "opentelemetry-aws-resources", version.ref = "opentelemetryContribAlpha" }
contribResources = { group = "io.opentelemetry.contrib", name = "opentelemetry-resource-providers", version.ref = "opentelemetryContribAlpha" }

autoservice-processor = { group = "com.google.auto.service", name = "auto-service", version.ref = "autoservice" }
autoservice-annotations = { group = "com.google.auto.service", name = "auto-service-annotations", version.ref = "autoservice" }

assertj-core = "org.assertj:assertj-core:3.24.2"
awaitility = "org.awaitility:awaitility:4.2.0"
findbugs-jsr305 = "com.google.code.findbugs:jsr305:3.0.0"

[bundles]

[plugins]

shadow = { id = "com.github.johnrengelman.shadow", version.ref = "shadow" }
jib = { id = "com.google.cloud.tools.jib", version.ref = "jib" }
spotless = { id = "com.diffplug.spotless:spotless", version.ref = "spotless" }
taskinfo = { id = "org.barfuin.gradle.taskinfo", version = '2.1.0' }
