# Update this with your real OpenAI API key
OPENAI_API_KEY=sk-YOUR_API_KEY

# OTEL_EXPORTER_* variables are not required. If you would like to change your
# OTLP endpoint to Elastic APM server using HTTP, uncomment the following:
# OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:8200
# OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf

OTEL_SERVICE_NAME=openai-example

# Change to 'false' to hide prompt and completion content
OTEL_INSTRUMENTATION_GENAI_CAPTURE_MESSAGE_CONTENT=true
# Change to 'false' to not export prompt and completion content events
ELASTIC_OTEL_JAVA_INSTRUMENTATION_GENAI_EMIT_EVENTS=true
