name: Build

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:

  # validate gradle wrapper binary https://github.com/gradle/wrapper-validation-action
  gradle-wrapper-validation:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: gradle/wrapper-validation-action@v1.1.0

  gradle:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      actions: read
      # Write access for running the dorny/test-reporter step
      checks: write
    steps:

      - name: Checkout
        uses: actions/checkout@v4

      - name: Gradle JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: gradle

      - name: Gradle build, test and check
        uses: gradle/gradle-build-action@v2
        with:
          arguments: check

      - name: Store test results
        if: success() || failure()
        uses: actions/upload-artifact@v3
        with:
          name: java-junit
          path: '**/build/test-results/test/TEST-*.xml'

      - name: Agent artifact
        uses: actions/upload-artifact@v3
        with:
          name: elastic-otel-javaagent
          path: |
            ./agent/build/libs/elastic-otel-javaagent-*.jar
