name: Build

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:

  # validate gradle wrapper binary https://github.com/gradle/wrapper-validation-action
  gradle-wrapper-validation:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: gradle/wrapper-validation-action@v1.1.0

  assemble:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout
        uses: actions/checkout@

      - name: Gradle JDK
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17

      - name: Gradle assemble
        uses: gradle/gradle-build-action@v2
        with:
          arguments: assemble

      - name: Agent artifact
        uses: actions/upload-artifact@v3
        with:
          name: elastic-apm-agent
          path: |
            ./agent/build/libs/elastic-otel-javaagent-*.jar